/* Fonts */

@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/open-sans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/open-sans/OpenSans-Bold-webfont.eot');
    src: url('fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/open-sans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/open-sans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Main */

body {
    background-color: #f8f8f8;
    font-family: "OpenSansRegular", "Trebuchet MS", Arial, sans-serif;
    color: #181818;
}

#main_wrapper {
    width: 90%;
    min-width: 700px;
    max-width: 1080px;
    margin: auto;
    background-color: #e8e8e8;
    box-shadow: 3px 3px 6px grey;
}

/* Header */

header {
    background-color: #383838;
    padding-left: 20px;
}

#main_title {
    color: #d8d8d8;
}

/* Navigation bar */

nav {
    background-color: #383838;
}

nav ul {
    list-style-type: none;
    margin: 0 0;
    padding: 0 0 0 0;
}

nav li {
    display: inline-block;
    height: 40px;
    margin: 0;
}

nav li a, nav li a:visited {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    padding: 0 15px;
    line-height: 40px;
    color: #e8e8e8;
    outline: 0;
}

nav li a:hover, #home #nav-home, #android #nav-android, #archlinux #nav-archlinux, #web #nav-web, #projects #nav-projects, #contact #nav-contact {
    background-color: #e8e8e8;
    color: #383838;
}

/* Section */

section {
    width: 70%;
    padding: 10px;
}

article h1, article h2, article h3, article h4, article h5, article h6, article time {
    font-family: "OpenSansBold", "Trebuchet MS Bold", "Arial Bold", sans-serif;
}

article h1 {
    font-size: 1.3em;
    margin-bottom: 0.3em;
}

article h2 {
    font-size: 1.1em;
    font-weight: normal;
}

article time {
    font-size: 0.9em;
    font-variant: small-caps;
}

article p {
    text-align: justify;
}

section, aside {
    display: inline-block;
    vertical-align: top;
}

/* Sidebar */

aside {
    width: 22%;
    padding: 5px;
    margin: 10px;
    background-color: #989898;
    text-align: right;
    box-shadow: 3px 3px 6px grey inset;
}

aside h1 {
    font-size: 1.3em;
}

aside ul {
    text-align: left;
}

/* Footer */

footer {
    border-top: 1px solid #383838 ;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

/* Various */

a {
    text-decoration: none;
}

a:hover {
    color: #0033ff;
    text-decoration: none;
}

article pre {
    width: 100%;
    border: 1px solid #c8c8c8;
    background-color: #d8d8d8;
    padding: 4px;
    overflow: auto;
}

code {
    white-space: nowrap;
}

.copyleft {
    display: inline-block;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/* Mobile devices */

@media (max-device-width: 800px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #main_wrapper {
        width: 100%;
        min-width: 320px;
        max-width: 1080px;
        margin: 0;
        background-color: #e8e8e8;
        box-shadow: none;
    }

    header {
        display: block;
    }

    header h1 {
        margin-top: 0px;
    }

    nav ul {
        height: 260px;
    }

    nav li {
        display: block;
    }

    nav li a:hover {
        background-color: #383838;
        color: #e8e8e8;
    }

    nav li a:active, #home #nav-home, #android #nav-android, #archlinux #nav-archlinux, #web #nav-web, #projects #nav-projects, #contact #nav-contact {
        background-color: #e8e8e8;
        color: #383838;
    }

    section, aside {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    article {
        padding-left: 10px;
        padding-right: 10px;
    }

    article pre {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        white-space: normal;
    }

    aside {
        margin: 0;
        text-align: left;
        box-shadow: none;
    }

    aside h1, aside p {
        margin-left: 10px;
    }

    code {
        white-space: normal;
    }
}
